<div class="hamburger-parent">
<div class="navigation">
	<ul class="nav flex-column">
	  	<li class="nav-item" >
	    	<a class="nav-link" routerLink="/dashboard/bugs" routerLinkActive="active"><i class="material-icons" >description</i> My Tasks</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">people</i> My Team</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">event_available</i> My Events</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">bug_report</i> Bug Reporting</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/bugs" routerLinkActive="active">View Bug Reports</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/newbugreport" routerLinkActive="active">Create New Bug Alert</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/bugsolved" routerLinkActive="active">Close pending Bugs</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="/dashboard/newsfeeds" routerLinkActive="active"><i class="material-icons">notifications</i> Notifications</a>
	  	</li>
	</ul>
</div>





</div>