<div class="hamburger-parent">
<div class="navigation">
	<ul class="nav flex-column">
		
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">description</i> Projects</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/myprojects" routerLinkActive="active">View Projects</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/newproject" routerLinkActive="active">New Project</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">people</i> Users</a>
	    	<ul>
				<li class="nav-item">
					<a class="nav-link" routerLink="/cpanel/signup" routerLinkActive="active">New User</a>
				</li>
				<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/viewusers" routerLinkActive="active">View Users</a>
	  			</li>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/myteams" routerLinkActive="active">View Teams</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/createteam" routerLinkActive="active">Create New Team</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">event_available</i> Events</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/mytodos" routerLinkActive="active">View Events</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/createtodo" routerLinkActive="active">Create New Event</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">bug_report</i> Bug Reporting</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/bugs" routerLinkActive="active">View Bug Reports</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/newbugreport" routerLinkActive="active">Create New Bug Alert</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/verifybugs" routerLinkActive="active">Close Bug Report</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="/cpanel/newsfeeds" routerLinkActive="active"><i class="material-icons">notifications</i> Notifications</a>
	  	</li>
	</ul>
</div>





</div>