<div class="hamburger-parent">
  <div class="navigation">
    <ul class="nav flex-column">
      
        <li class="nav-item">
          <a class="nav-link"><i class="material-icons">description</i> My Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="material-icons">people</i> My Teams</a>
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pmpanel/myteams" routerLinkActive="active">View Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pmpanel/createteam" routerLinkActive="active">Create New Team</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="material-icons">event_available</i> Events</a>
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pmpanel/mytodos" routerLinkActive="active">View Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pmpanel/createtodo" routerLinkActive="active">Create New Event</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="material-icons">bug_report</i> Bug Reporting</a>
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pmpanel/bugs" routerLinkActive="active">View Bug Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pmpanel/newbugreport" routerLinkActive="active">Create New Bug Alert</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pmpanel/verifybugs" routerLinkActive="active">Close Bug Report</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pmpanel/newsfeeds" routerLinkActive="active"><i class="material-icons">notifications</i> Notifications</a>
        </li>
    </ul>
  </div>
  
  
  
  
  
  </div>
